# no need to include system-specific
# ruby stuff
.ruby-gemset
.ruby-version

# stuff that should generally be ignored
.DS_Store
ignore/

# ignore stray movie files that made it in
*.MP4

# things in the OBS directory that are private
configs/OBS/Twitch

# the temporary files managed by the app
run

# ignore SSL certs
infra/certs
# ignore google credentials
infra/**/google
# ignore k8s secrets
infra/k8s/**/secrets.yml

# compiled binaries
bin/tripbot
bin/vlc-server

# env files shouldn't get checked in
# because they have secrets
.env.development
.env.staging
.env.production

# pidfiles are temporary
*.pid

# logs and DB dumps don't need to be checked in
*.log
*.db
db/*.sql
db/*.gz

# temporary files
tmp
vendor

# terraform stuff
.terraform
*.plan
*.tfstate.backup
