# no need to include system-specific ruby stuff
.ruby-gemset
.ruby-version

# stuff that should generally be ignored
.DS_Store
ignore/

# ignore stray movie files that made it in
*.MP4

# things in the OBS directory that are private
configs/OBS/Twitch

# the temporary files managed by the app
run
*.pid
tmp
vendor

# ignore SSL certs
infra/certs
# ignore google credentials
infra/**/google
# ignore k8s secrets
infra/k8s/**/secrets.yml

# compiled binaries
*.exe
bin/tripbot
bin/vlc-server
cmd/tripbot/dist/

# env files shouldn't get checked in
# because they have secrets
.env.development
.env.staging
.env.production

# this will differ on different computers
.bash_history.remote

# logs and DB dumps don't need to be checked in
*.log
*.db
db/*.sql
db/*.gz
