version: '3.7'

services:
  tripbot:
    image: adanalife/tripbot
    hostname: tripbot
    env_file:
      - infra/docker/env.docker
    build:
      context: .
      dockerfile: infra/docker/tripbot/Dockerfile
    depends_on:
      - db
    ports:
      # this should match the TRIPBOT_SERVER_PORT env var
      - "8080"
    volumes:
      - .:/go/src/github.com/adanalife/tripbot
      #TODO: do we even need this?
      - ./assets/video:/opt/data/Dashcam/_all:ro
    entrypoint: bash
    command: -c "go run cmd/tripbot/tripbot.go 2>&1"
    restart: unless-stopped

  vlc-server:
    privileged: true
    image: adanalife/vlc-server
    hostname: vlc-server
    env_file:
      - infra/docker/env.docker
    build:
      context: .
      dockerfile: infra/docker/vlc-server/Dockerfile
    ports:
      # this should match the VLC_SERVER_HOST env var
      - "8080"
      - "5902:5900"
    environment:
      DISPLAY: ":0.0"
      XDG_RUNTIME_DIR: "/root/.cache/xdgr"
      # hack to make fontconfig happy
      FONTCONFIG_PATH: "/etc/fonts"
      STREAM_KEY: "${STREAM_KEY}"
    volumes:
      - .:/go/src/github.com/adanalife/tripbot
      - ./assets/video:/opt/data/Dashcam/_all:ro
    restart: unless-stopped

  obs:
    image: adanalife/obs
    build:
      context: .
      dockerfile: infra/docker/obs/Dockerfile

  db:
    image: postgres:12
    restart: always
    ports:
      - "5432"
    environment:
      POSTGRES_PASSWORD: "${DATABASE_PASS}"
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_DB: "${DATABASE_DB}"
    # volumes:
    #   - ./infra/docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    #   - ./tmp/data:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./db/migrate:/migrations
    command: [
      "-path", "/migrations",
      "-database",  "postgres://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:5432/${DATABASE_DB}?sslmode=disable",
      "up"
    ]
    restart: on-failure

  seed:
    image: adanalife/tripbot
    env_file:
      - infra/docker/env.docker
    depends_on:
      - migrate
    entrypoint: bash -c "infra/docker/bin/seed-db.sh"
    #TODO: this can be removed once the script is baked into the image
    volumes:
      - .:/go/src/github.com/adanalife/tripbot
    restart: on-failure
