# https://github.com/koalaman/shellcheck/wiki/Ignore

# Double quote to prevent globbing and word splitting.
disable=SC2086

# Use a ( subshell ) to avoid having to cd back.
disable=SC2103

# Consider using { cmd1; cmd2; } >> file instead of individual redirects.
disable=SC2129

# Use a ( subshell ) to avoid having to cd back.
disable=SC2103

# Use 'cd ... || exit' or 'cd ... || return' in case cd fails.
# disable=SC2164
