{
  "alerts": {
    "connect": false,
    "disconnect": false,
    "update": false
  },
  "authentication_enabled": true,
  "server_enabled": true,
  "server_password": "${OBS_WEBSOCKET_PASSWD}",
  "server_port": 4455
}
