---
apiVersion: v1
kind: Secret
metadata:
  name: tripbot-secrets
type: Opaque
stringData:
    DATABASE_HOST: ""
    DATABASE_PASS: ""
    # get these here: https://dev.twitch.tv/dashboard/apps/create
    TWITCH_CLIENT_ID:  ""
    TWITCH_CLIENT_SECRET: ""
    TWITCH_AUTH_TOKEN: ""
    GOOGLE_MAPS_API_KEY: ""
    TWILIO_ACCT_SID: ""
    TWILIO_AUTH_TOKEN: ""
    TWILIO_FROM_NUM: ""
    TWILIO_TO_NUM: ""
    TRIPBOT_HTTP_AUTH: ""
    SENTRY_DSN: ""
