---
name: Super Linter

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Run Linters
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: run-linters
        uses: github/super-linter@v4.9.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # disabled because it's not working with C libs
          VALIDATE_GO: false
          # disabled cause there are lots to change in Dockerfile.nvidia
          VALIDATE_DOCKERFILE_HADOLINT: false
          # disabled cause they dont support CRDs rn
          VALIDATE_KUBERNETES_KUBEVAL: false
          # disabled until we go through and fix the issues
          VALIDATE_JSCPD: false
          VALIDATE_ENV: false
          VALIDATE_SQL: false
